<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyxy.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hyxy.entity.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="jurisdictionId" property="jurisdictionid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hyxy.entity.Role" >
    insert into role (id, roleName, jurisdictionId
      )
    values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{jurisdictionid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hyxy.entity.Role" >
    update role
    set roleName = #{rolename,jdbcType=VARCHAR},
      jurisdictionId = #{jurisdictionid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, roleName, jurisdictionId
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, roleName, jurisdictionId
    from role
  </select>
</mapper>